// Add your font-face directives here
@font-face {
  font-family: 'Roboto Condensed Bold';
  src: url('/fonts/RobotoCondensed-Bold.ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Condensed Italic';
  src: url('/fonts/RobotoCondensed-Italic.ttf');
  font-weight: 300;
  font-style: italic;
}


@font-face {
  font-family: 'Roboto Medium';
  src: url('/fonts/Roboto-Medium.ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Light';
  src: url('/fonts/Roboto-Light.ttf');
  font-weight: 300;
  font-style: normal;
}
