$brand-color: #de3f6b;
$green: #54d46c;
$red: #f05151;

$gray-dark: #3f404b;
$gray: #666666;
$gray-light: #aaaaaa;
$gray-lighter: #eeedf1;

$header-height: 50px;
$base-padding: 20px;

$base-font-sans-serif: 'Roboto';
$base-border-radius: 3px;
$container-width: 880px;

$gutter: 12px;

$font-family-text: $base-font-sans-serif;
$font-family-header: 'Roboto Condensed';

$screen-xs:                  480px !default;
$screen-xs-min:              $screen-xs !default;
$screen-phone:               $screen-xs-min !default;

$screen-sm:                  768px !default;
$screen-sm-min:              $screen-sm !default;
$screen-tablet:              $screen-sm-min !default;

$screen-md:                  1024px !default;
$screen-md-min:              $screen-md !default;
$screen-desktop:             $screen-md-min !default;

$screen-lg:                  1250px !default;
$screen-lg-min:              $screen-lg !default;
$screen-lg-desktop:          $screen-lg-min !default;

$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;

$base-text-color: $gray-dark !default;
$base-background-color: $gray-lighter !default;
$font-size-base: 16px !default;
$line-height-base: 1.2 !default;
$base-font-family: $base-font-sans-serif !default;
$base-font-weight: 300 !default;
$base-box-shadow: 1px 1px 2px rgba(0, 0, 0, .1);

$vertical-rhythm: ($line-height-base * 1em);

$base-min-width: $screen-md;

$gutter-width: 10px;

$base-link-color: $brand-color;
