@import "variables";

* {
  outline: none !important;
}

html {
  box-sizing: border-box;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

*, *:before, *:after {
  box-sizing: inherit;
}

* {max-height: 1000000px;}

a {
  text-decoration: none;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  font-weight: 300;
}

button {
  background-color: transparent;
  border: 1px solid $brand-color;
  color: $brand-color;
}

select {
  height: 40px;
}

.container {
  width: $screen-md;
  margin: 0 auto;
}

button.link {
  background: transparent;
  border: 0;
  font-size: 14px;
  padding-left: 0;
  padding-right: 0;
  box-shadow: none;
  &:hover {
    background-color: transparent;
    border: 0;
    text-decoration: underline;
  }
}

// adaptive images
img {
  max-width: 100%;
  height: auto;
}

// google map fix
.gm-style img {max-width: none}

// forms

form,
fieldset {
  margin: 0;
  padding: 0;
  border-style: none;
}